<!DOCTYPE html>
<html lang="fr-FR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="http://gmpg.org/xfn/11">

<title>Page d&#039;accueil - SHINUP</title>
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<link rel="canonical" href="http://www.shinup91/" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Page d&#039;accueil - SHINUP" />
<meta property="og:url" content="http://www.shinup91.fr/" />
<meta property="og:site_name" content="SHINUP" />
<!-- <link rel='stylesheet' id='wp-block-library-css'  href='https://www.shinup.fr/wp-includes/css/dist/block-library/style.min.css?ver=5f8aa7' type='text/css' media='all' /> -->
<link rel="stylesheet" type="text/css" href="//www.shinup.fr/wp-content/cache/wpfc-minified/g38e34vi/4oy85.css" media="all"/>
<link rel='stylesheet' id='onepress-fonts-css'  href='https://fonts.googleapis.com/css?family=Raleway%3A400%2C500%2C600%2C700%2C300%2C100%2C800%2C900%7COpen+Sans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic&#038;subset=latin%2Clatin-ext&#038;ver=2.2.4' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='onepress-animate-css'  href='https://www.shinup.fr/wp-content/themes/onepress/assets/css/animate.min.css?ver=2.2.4' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='onepress-fa-css'  href='https://www.shinup.fr/wp-content/themes/onepress/assets/css/font-awesome.min.css?ver=4.7.0' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='onepress-bootstrap-css'  href='https://www.shinup.fr/wp-content/themes/onepress/assets/css/bootstrap.min.css?ver=2.2.4' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='onepress-style-css'  href='https://www.shinup.fr/wp-content/themes/onepress/style.css?ver=5f8aa7' type='text/css' media='all' /> -->
<link rel="stylesheet" type="text/css" href="//www.shinup.fr/wp-content/cache/wpfc-minified/3jc4h1a/4oy85.css" media="all"/>
<style id='onepress-style-inline-css' type='text/css'>
#main .video-section section.hero-slideshow-wrapper{background:transparent}.hero-slideshow-wrapper:after{position:absolute;top:0px;left:0px;width:100%;height:100%;background-color:rgba(0,0,0,0.3);display:block;content:""}.body-desktop .parallax-hero .hero-slideshow-wrapper:after{display:none!important}#parallax-hero>.parallax-bg::before{background-color:rgba(0,0,0,0.3);opacity:1}.body-desktop .parallax-hero .hero-slideshow-wrapper:after{display:none!important}#footer-widgets{}.gallery-carousel .g-item{padding:0px 10px}.gallery-carousel{margin-left:-10px;margin-right:-10px}.gallery-grid .g-item,.gallery-masonry .g-item .inner{padding:10px}.gallery-grid,.gallery-masonry{margin:-10px}
</style>
<!-- <link rel='stylesheet' id='onepress-gallery-lightgallery-css'  href='https://www.shinup.fr/wp-content/themes/onepress/assets/css/lightgallery.css?ver=5f8aa7' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='onepress-plus-style-css'  href='https://www.shinup.fr/wp-content/plugins/onepress-plus/onepress-plus.css?ver=2.2.2' type='text/css' media='all' /> -->
<link rel="stylesheet" type="text/css" href="//www.shinup.fr/wp-content/cache/wpfc-minified/7l31bbnd/8bfcr.css" media="all"/>
<script type='text/javascript'>
/* <![CDATA[ */
var onepress_js_settings = {"onepress_disable_animation":"","onepress_disable_sticky_header":"","onepress_vertical_align_menu":"","hero_animation":"flipInX","hero_speed":"5000","hero_fade":"750","hero_duration":"5000","hero_disable_preload":"","is_home":"","gallery_enable":"1","is_rtl":""};
var OnePress_Plus = {"ajax_url":"https:\/\/www.shinup.fr\/wp-admin\/admin-ajax.php","browser_warning":" Your browser does not support the video tag. I suggest you upgrade your browser."};
/* ]]> */
</script>
<script src='//www.shinup.fr/wp-content/cache/wpfc-minified/qvwa34qf/8ax4t.js' type="text/javascript"></script>
<!-- <script type='text/javascript' src='https://www.shinup.fr/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'></script> -->
<!-- <script type='text/javascript' src='https://www.shinup.fr/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script> -->
<link rel='https://api.w.org/' href='https://www.shinup.fr/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.shinup.fr/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.shinup.fr/wp-includes/wlwmanifest.xml" /> 
<link rel='shortlink' href='https://www.shinup.fr/' />
<link rel="alternate" type="application/json+oembed" href="https://www.shinup.fr/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.shinup.fr%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.shinup.fr/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.shinup.fr%2F&#038;format=xml" />
<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style><link rel="icon" href="https://www.shinup.fr/wp-content/uploads/2020/08/cropped-favicon_192x192_created_by_logaster-2-32x32.png" sizes="32x32" />
<link rel="icon" href="https://www.shinup.fr/wp-content/uploads/2020/08/cropped-favicon_192x192_created_by_logaster-2-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="https://www.shinup.fr/wp-content/uploads/2020/08/cropped-favicon_192x192_created_by_logaster-2-180x180.png" />
<meta name="msapplication-TileImage" content="https://www.shinup.fr/wp-content/uploads/2020/08/cropped-favicon_192x192_created_by_logaster-2-270x270.png" />
</head>
<body>



        @RenderBody()    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
