@{
    ViewBag.Title = "Home Page";
}
    <body class="home page-template page-template-template-frontpage page-template-template-frontpage-php page page-id-52 wp-custom-logo site-header-sticky body-desktop">
        <div id="page" class="hfeed site">
            <a class="skip-link screen-reader-text" href="#content">Aller au contenu</a>
            <div id="header-section" class="h-on-top no-transparent">
                <div class="followWrap" style="height: 90px;">
                    <header id="masthead" class="site-header header-contained is-sticky no-t h-on-top header-fixed no-scroll" role="banner" style="top: 0px;">
                        <div class="container">
                            <div class="site-branding">
                                <div class="site-brand-inner has-logo-img no-desc"><div class="site-logo-div"><a href="https://www.shinup91.fr/" class="custom-logo-link  no-t-logo" rel="home" itemprop="url"><img width="200" height="90" src="https://www.shinup.fr/wp-content/uploads/2020/08/cropped-horizontal_tagline_on_white_by_logaster-1-e1596280921749.png" class="custom-logo" alt="SHINUP" itemprop="logo"></a></div></div>
                            </div>
                            <div class="header-right-wrapper">
                                <a href="#0" id="nav-toggle" class="">Menu<span></span></a>
                                <nav id="site-navigation" class="main-navigation" role="navigation">
                                    <ul class="onepress-menu">
                                    </ul>
                                </nav>
                                <!-- #site-navigation -->
                            </div>
                        </div>
                    </header>
                </div><!-- #masthead -->
                <section id="hero" data-images="[&quot;https:\/\/www.shinup.fr\/wp-content\/themes\/onepress\/assets\/images\/hero5.jpg&quot;]" class="hero-slideshow-wrapper  hero-slideshow-normal loaded" style="position: relative; z-index: 0; background: none;">

                    <div class="container" style="padding-top: 10%; padding-bottom: 10%;">
                        <div class="hero__content hero-content-style1">
                            <h2 class="hero-large-text">Vos services à domicile<span class="js-rotating morphext"><span class="animated flipInX">à SAINT-GERMAIN-LES-ARPAJON</span></span></h2>                    <div class="hero-small-text">
                                <p>Nos principales missions sont d’assurer la propreté de la maison, du linge et l’aide administrative, commerciale (mise en relation, conciergerie) et personnel au quotidien.</p>
                            </div>                    <a href="https://www.shinup91.fr/#prestations" class="btn btn-theme-primary btn-lg">Nos prestations</a>                    <a href="https://www.shinup.fr/#à%20propos%20de" class="btn btn-secondary-outline btn-lg">Qui sommes-nous</a>
                        </div>
                    </div>
                    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 440px; width: 411px; z-index: -999998; position: absolute;"><img src="https://www.shinup.fr/wp-content/themes/onepress/assets/images/hero5.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 660.258px; height: 440px; max-height: none; max-width: none; z-index: -999999; left: -124.629px; top: 0px;"></div>
                </section>
            </div>
            <div id="content" class="site-content">
                <main id="main" class="site-main" role="main">
                    <section id="prestations" class="section-features section-padding section-meta onepage-section">
                        <div class="container">
                            <div class="section-title-area">
                                <h2 class="section-title">Nos prestations</h2>
                            </div>
                            <div class="section-content">
                                <div class="row">
                                    <div class="feature-item col-lg-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
                                        <div class="feature-media">
                                            <span class="fa-stack fa-5x"><i class="fa fa-circle fa-stack-2x icon-background-default"></i> <i class="feature-icon fa fa fa-home fa-stack-1x"></i></span>
                                        </div>
                                        <h4>Ménage et repassage à domicile</h4>
                                        <div class="feature-item-content">
                                            <p>Confiez-nous vos tâches et nous les réaliserons avec soin</p>
                                        </div>
                                    </div>
                                    <div class="feature-item col-lg-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
                                        <div class="feature-media">
                                            <span class="fa-stack fa-5x"><i class="fa fa-circle fa-stack-2x icon-background-default"></i> <i class="feature-icon fa fa fa-pencil-square-o fa-stack-1x"></i></span>
                                        </div>
                                        <h4>Aide administrative</h4>
                                        <div class="feature-item-content">
                                            <p>Un service sur mesure pour vos CV, lettres de motivation, déclarations d’impôts, gestion du courrier…</p>
                                        </div>
                                    </div>
                                    <div class="feature-item col-lg-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
                                        <div class="feature-media">
                                            <span class="fa-stack fa-5x"><i class="fa fa-circle fa-stack-2x icon-background-default"></i> <i class="feature-icon fa fa fa-wrench fa-stack-1x"></i></span>
                                        </div>
                                        <h4>Mise en relation avec un artisan</h4>
                                        <div class="feature-item-content">
                                            <p>Une panne ? Des travaux à effectuer dans votre habitat ? Nous vous mettons en relation avec nos meilleurs artisans !</p>
                                        </div>
                                    </div>
                                    <div class="feature-item col-lg-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
                                        <div class="feature-media">
                                        </div>
                                        <h4></h4>
                                        <div class="feature-item-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="valeurs" class="section-services section-padding section-meta onepage-section">
                        <div class="container">
                            <div class="section-title-area">
                                <h2 class="section-title">Nos valeurs</h2>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-3 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
                                    <div class="service-item ">
                                        <a class="service-link" href="https://www.shinup91.fr/discretion/"><span class="screen-reader-text">Discrétion</span></a>
                                        <div class="service-image"><i class="fa fa fa-lock fa-5x"></i></div>                                    <div class="service-content">
                                            <h4 class="service-title">Discrétion</h4>
                                            <p>Notre personnel fera preuve d’une discrétion exemplaire lors de l’exécution des tâches</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="avantages" class="section-avantages onepage-section section-meta section-padding">
                        <div class="container">
                            <div class="section-title-area">
                                <h2 class="section-title">NOS AVANTAGES</h2>																		<div class="section-desc">
                                    <ul>
                                        <li style="text-align: left" data-mce-style="text-align: left;"><em>50% de déduction fiscale</em></li>
                                        <li style="text-align: left" data-mce-style="text-align: left;"><em>Réactivité</em></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="section-content-area custom-section-content"></div>
                        </div>
                    </section>
                    <section id="tarifs" class="section-pricing section-padding onepage-section">
                        <div class="container">
                            <div class="section-title-area">
                                <h2 class="section-title">TARIFS</h2>
                            </div>
                            <div class="pricing-table ">
                                <div class="pricing row">
                                    <div id="pricing-id-menage-et-repassage-a-domicile" class="col-md-12 col-lg-12 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
                                        <div class="pricing__item">
                                            <h3 class="pricing__title">Ménage et repassage à domicile</h3>
                                            <div class="pricing__price"><span class="pricing__currency">€</span>22.50</div>
                                            <div class="pricing__sentense">Au-delà de 4 h/semaine, devis personnalisé à la demande</div>
                                            <ul class="pricing__feature-list">
                                                <li>
                                                    <p>Lundi au Samedi</p>
                                                </li>
                                                <li>
                                                    <p>Horaires flexibles</p>
                                                </li>
                                                <li>
                                                    <p>Contact direct avec l’intervenant</p>
                                                </li>
                                            </ul>
                                            <div class="pricing__button">
                                                <a href="#contact" class="btn btn-theme-primary btn-lg btn-block">NOUS CONTACTER</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="contactOne" class="section-contact section-padding  section-meta onepage-section">
                        <div class="container">
                            <div class="section-title-area">
                                <h2 class="section-title">Nous contacter</h2>
                            </div>
                            <div class="row">
                                <div class="contact-form col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
                                    <div class="wpforms-container wpforms-container-full" id="wpforms-80"><form id="wpforms-form-80" class="wpforms-validate wpforms-form" data-formid="80" method="post" enctype="multipart/form-data" action="/" novalidate="novalidate"><noscript class="wpforms-error-noscript">Veuillez activer JavaScript dans votre navigateur pour remplir ce formulaire.</noscript><div class="wpforms-field-container"><div id="wpforms-80-field_0-container" class="wpforms-field wpforms-field-name" data-field-id="0"><label class="wpforms-field-label wpforms-label-hide" for="wpforms-80-field_0">Nom <span class="wpforms-required-label">*</span></label><div class="wpforms-field-row wpforms-field-medium"><div class="wpforms-field-row-block wpforms-first wpforms-one-half"><input type="text" id="wpforms-80-field_0" class="wpforms-field-name-first wpforms-field-required" name="wpforms[fields][0][first]" required=""><label for="wpforms-80-field_0" class="wpforms-field-sublabel after ">Prénom</label></div><div class="wpforms-field-row-block wpforms-one-half"><input type="text" id="wpforms-80-field_0-last" class="wpforms-field-name-last wpforms-field-required" name="wpforms[fields][0][last]" required=""><label for="wpforms-80-field_0-last" class="wpforms-field-sublabel after ">Nom</label></div></div></div><div id="wpforms-80-field_1-container" class="wpforms-field wpforms-field-email" data-field-id="1"><label class="wpforms-field-label" for="wpforms-80-field_1">E-mail <span class="wpforms-required-label">*</span></label><input type="email" id="wpforms-80-field_1" class="wpforms-field-medium wpforms-field-required" name="wpforms[fields][1]" required=""></div><div id="wpforms-80-field_3-container" class="wpforms-field wpforms-field-select wpforms-field-select-style-modern" data-field-id="3"><label class="wpforms-field-label wpforms-label-hide" for="wpforms-80-field_3">Liste déroulante <span class="wpforms-required-label">*</span></label><div class="choices wpforms-field-row wpforms-field-medium" data-type="select-multiple" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false"><div class="choices__inner"><select id="wpforms-80-field_3" class="wpforms-field-medium wpforms-field-required choicesjs-select choices__input" data-size-class="wpforms-field-row wpforms-field-medium" name="wpforms[fields][3][]" required="required" multiple="multiple" hidden="" tabindex="-1" data-choice="active"></select><div class="choices__list choices__list--multiple"></div><input type="text" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" aria-label="Ménage, repassage" placeholder="Ménage, repassage" style="min-width: 18ch; width: 1ch;"></div><div class="choices__list choices__list--dropdown" aria-expanded="false"><div class="choices__list" aria-multiselectable="true" role="listbox"><div id="choices--wpforms-80-field_3-item-choice-2" class="choices__item choices__item--choice choices__item--selectable is-highlighted" role="option" data-choice="" data-id="2" data-value="Ménage, repassage" data-select-text="Press to select." data-choice-selectable="" aria-selected="true">Ménage, repassage</div><div id="choices--wpforms-80-field_3-item-choice-3" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="3" data-value="Aide Administrative" data-select-text="Press to select." data-choice-selectable="">Aide Administrative</div><div id="choices--wpforms-80-field_3-item-choice-4" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="4" data-value="Mise en relation avec un artisan" data-select-text="Press to select." data-choice-selectable="">Mise en relation avec un artisan</div></div></div></div><div class="wpforms-field-description">Choisir la prestation désirée</div></div><div id="wpforms-80-field_2-container" class="wpforms-field wpforms-field-textarea" data-field-id="2"><label class="wpforms-field-label" for="wpforms-80-field_2">Message <span class="wpforms-required-label">*</span></label><textarea id="wpforms-80-field_2" class="wpforms-field-medium wpforms-field-required wpforms-limit-characters-enabled" data-form-id="80" data-field-id="2" data-text-limit="750" name="wpforms[fields][2]" maxlength="750" required=""></textarea><div class="wpforms-field-description">N'oubliez pas d'indiquer votre numéro de téléphone dans votre message.</div><div class="wpforms-field-limit-text" id="wpforms-field-limit-text-80-2">0 sur 750 caractères maximum.</div></div></div><div class="wpforms-field wpforms-field-hp"><label for="wpforms-80-field-hp" class="wpforms-field-label">Comment</label><input type="text" name="wpforms[hp]" id="wpforms-80-field-hp" class="wpforms-field-medium"></div><div class="wpforms-submit-container"><input type="hidden" name="wpforms[id]" value="80"><input type="hidden" name="wpforms[author]" value="2"><input type="hidden" name="wpforms[post_id]" value="52"><button type="submit" name="wpforms[submit]" class="wpforms-submit " id="wpforms-submit-80" value="wpforms-submit" aria-live="assertive" data-alt-text="Envoi..." data-submit-text="Envoyer">Envoyer</button></div></form></div>  <!-- .wpforms-container -->
                                </div>
                                <div class="col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
                                    <br><br>
                                    <div class="address-box">
                                        <h3></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="A propos" class="section-about section-padding onepage-section">
                        <div class="container">
                            <div class="section-title-area">
                                <h5 class="section-subtitle">Sous-titre de section</h5>					<h2 class="section-title">Qui sommes-nous</h2>
                            </div>
                            <div class="row">
                            </div>
                        </div>
                    </section>
                </main><!-- #main -->
            </div><!-- #content -->
            <footer id="colophon" class="site-footer" role="contentinfo">
                <div class="site-info">
                    <div class="container">
                        <div class="btt">
                            <a class="back-to-top" href="#page" title="Retour en haut"><i class="fa fa-angle-double-up wow flash" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: flash;"></i></a>
                        </div>
                        Copyright © 2020 SHIN'UP91<span class="sep"> – </span><a href="https://www.famethemes.com/themes/onepress">OnePress</a> theme by FameThemes
                    </div>
                </div>
                <!-- .site-info -->
            </footer><!-- #colophon -->
        </div><!-- #page -->
        <span style="display:none !important">dolor. sit efficitur. fringilla massa venenatis, ut Sed felis eleifend ipsum tempus</span><!-- <link rel='stylesheet' id='wpforms-choicesjs-css'  href='https://www.shinup.fr/wp-content/plugins/wpforms-lite/assets/css/choices.min.css?ver=9.0.1' type='text/css' media='all' /> -->
        <!-- <link rel='stylesheet' id='wpforms-full-css'  href='https://www.shinup.fr/wp-content/plugins/wpforms-lite/assets/css/wpforms-full.css?ver=1.6.1' type='text/css' media='all' /> -->
        <link rel="stylesheet" type="text/css" href="//www.shinup.fr/wp-content/cache/wpfc-minified/q7zhruuu/8if70.css" media="all">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASkFdBVeZHxvpMVIOSfk2hGiIzjOzQeFY&amp;ver=5f8aa7"></script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-content/themes/onepress/assets/js/plugins.js?ver=2.2.4"></script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-content/themes/onepress/assets/js/bootstrap.min.js?ver=2.2.4"></script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-content/themes/onepress/assets/js/theme.js?ver=2.2.4"></script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-content/themes/onepress/assets/js/owl.carousel.min.js?ver=5f8aa7"></script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-content/plugins/onepress-plus/assets/js/slider.js?ver=5f8aa7"></script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-content/plugins/onepress-plus/assets/js/onepress-plus.js?ver=2.2.2"></script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-includes/js/wp-embed.min.js?ver=5f8aa7"></script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-content/plugins/wpforms-lite/assets/js/text-limit.min.js?ver=1.6.1"></script>
        <script type="text/javascript">
/* <![CDATA[ */
var wpforms_choicesjs_config = {"removeItemButton":"1","shouldSort":"","loadingText":"Chargement...","noResultsText":"No results found.","noChoicesText":"No choices to choose from.","itemSelectText":"Press to select.","uniqueItemText":"Only unique values can be added.","customAddItemText":"Only values matching specific conditions can be added."};
/* ]]> */
        </script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-content/plugins/wpforms-lite/assets/js/choices.min.js?ver=9.0.1"></script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-content/plugins/wpforms-lite/assets/js/jquery.validate.min.js?ver=1.19.0"></script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-content/plugins/wpforms-lite/assets/js/mailcheck.min.js?ver=1.1.2"></script>
        <script type="text/javascript" src="https://www.shinup.fr/wp-content/plugins/wpforms-lite/assets/js/wpforms.js?ver=1.6.1"></script>
        <script type="text/javascript">
/* <![CDATA[ */
var wpforms_settings = {"val_required":"Ce champ est n\u00e9cessaire","val_url":"Veuillez saisir une URL valide.","val_email":"Veuillez saisir une adresse e-mail valide.","val_email_suggestion":"Voulez-vous dire {suggestion} ?","val_email_suggestion_title":"Cliquez pour accepter cette suggestion.","val_number":"Veuillez saisir un nombre valide.","val_confirm":"Les valeurs du champ ne correspondent pas.","val_fileextension":"Le type de fichier n\u2019est pas autoris\u00e9.","val_filesize":"Le fichier d\u00e9passe la taille maximale autoris\u00e9e. Le fichier n\u2019a pas \u00e9t\u00e9 t\u00e9l\u00e9vers\u00e9.","val_time12h":"Veuillez saisir l\u2019heure au format 12 heures AM\/PM (Ex : 8h45 AM).","val_time24h":"Veuillez saisir l\u2019heure au format 24 heures (Ex : 22:45).","val_requiredpayment":"Le paiement est n\u00e9cessaire.","val_creditcard":"Veuillez saisir un num\u00e9ro de carte bancaire valide.","val_post_max_size":"La taille totale des fichiers s\u00e9lectionn\u00e9s {totalSize} d\u00e9passe la limite autoris\u00e9e de {maxSize} Mo.","val_checklimit":"Vous avez d\u00e9pass\u00e9 le nombre de s\u00e9lections autoris\u00e9es : {#}.","val_limit_characters":"{count} sur {limit} caract\u00e8res maximum.","val_limit_words":"{count} sur {limit} mots maximum.","val_recaptcha_fail_msg":"La v\u00e9rification Google reCAPTCHA a \u00e9chou\u00e9, veuillez r\u00e9essayer ult\u00e9rieurement.","post_max_size":"101711872","uuid_cookie":"","locale":"fr","wpforms_plugin_url":"https:\/\/www.shinup.fr\/wp-content\/plugins\/wpforms-lite\/","gdpr":"","ajaxurl":"https:\/\/www.shinup.fr\/wp-admin\/admin-ajax.php","mailcheck_enabled":"1","mailcheck_domains":[],"mailcheck_toplevel_domains":["dev"]}
/* ]]> */
        </script>

    </body>

